parameters:
    uploader:
        aws-access-key: AKIAJJKM4R26QUNBFPTA
        aws-secret-key: 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
        s3-upload-path: keboola-logs/debug-files
        bitly-login:    petrsimecek
        bitly-api-key:  R_35ed95e18188c58f7b42787f358857ea

services:
    syrup.componentbundle.listener.exception:
        class: Syrup\ComponentBundle\Listener\SyrupExceptionListener
        arguments: [@logger, @syrup.monolog.json_formatter]
        tags:
            - { name: kernel.event_listener, event: kernel.exception, method: onKernelException }
    syrup.componentbundle.listener.controller:
        class: Syrup\ComponentBundle\Listener\SyrupControllerListener
        arguments: [@logger, %components%]
        tags:
            - { name: kernel.event_listener, event: kernel.controller, method: onKernelController }
            - { name: kernel.event_listener, event: kernel.response, method: onKernelResponse }
    syrup.component_factory:
        class: Syrup\ComponentBundle\Component\ComponentFactory
        arguments: [@logger, @doctrine, %components%]
    syrup.monolog.s3_uploader:
        class: Syrup\ComponentBundle\Monolog\Uploader\SyrupS3Uploader
        arguments: [%uploader%]
    syrup.monolog.json_formatter:
        class: Syrup\ComponentBundle\Monolog\Formatter\SyrupJsonFormatter
        arguments: [%app_name%, @syrup.monolog.s3_uploader, @storage_api]
    syrup.routing_loader:
        class: Syrup\ComponentBundle\Routing\Loader
        arguments: [%components%]
        tags:
            - { name: routing.loader }
    syrup.temp_factory:
        class: Syrup\ComponentBundle\Filesystem\TempServiceFactory
        arguments: [%components%]
    storage_api:
        class: Syrup\ComponentBundle\Service\StorageApi\StorageApiService
        arguments: [%storage_api.url%]
        calls:
            - [setRequest, ['@?request=']]
    syrup.shared_sapi:
        class: Syrup\ComponentBundle\Service\SharedSapi\SharedSapiService
        arguments: [%shared_sapi.token%, %shared_sapi.url%]
    syrup.encryptor_factory:
        class: Syrup\ComponentBundle\Service\Encryption\EncryptorFactory
        arguments: [%components%]
#    syrup.queue:
#        class: Syrup\ComponentBundle\Service\Queue\Queue
#        arguments: [%aws%]
#    syrup.job_factory:
#        class: Syrup\ComponentBundle\Job\JobFactory
#        arguments: []
