parameters:
    app_name:          syrup-component-bundle

    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:
    database_user:
    database_password:

    # Session PDO handler table
    pdo.db_options:
        db_table:    session
        db_id_col:   id
        db_data_col: value
        db_time_col: time

    # locks DB
    locks_db.driver:    pdo_mysql
    locks_db.host:      localhost
    locks_db.port:      ~
    locks_db.name:
    locks_db.user:
    locks_db.password:

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            VeryMuchClandestinePhraze

    storage_api.url:        https://connection.keboola.com
    storage_api.test.url:   https://connection.keboola.com
    storage_api.test.token:  SAPI_TOKEN

	shared_sapi:
        url:   https://connection.keboola.com
        token: SAPI_TOKEN
        userAgent: Syrup

    uploader:
        aws-access-key:
        aws-secret-key:
        s3-upload-path:
        bitly-login:
        bitly-api-key:

    queue:
        url:      http://syrup-queue.kbc-devel-02.keboola.com
        db_table: queues

    elasticsearch:
        hosts: []

    job_manager:
        index_prefix: devel

    encryption_key:

    components:
