<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php">
    <php>
        <server name="KERNEL_DIR" value="vendor/keboola/syrup/app/" />
        <ini name="date.timezone" value="Europe/Prague"></ini>
    </php>
    <testsuites>
        <testsuite name="Syrup Component Bundle Tests">
            <directory>Tests/Controller</directory>
            <directory>Tests/Filesystem</directory>
            <directory>Tests/Job</directory>
            <directory>Tests/Logger</directory>
            <directory>Tests/Service</directory>
        </testsuite>
    </testsuites>

</phpunit>
